<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://img/favicon.png') }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/style.css') %}
    {% endblock %}
    {{ assets.css() }}
    {{ assets.js() }}

    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    {% endblock head%}
</head>
<body>
    {% block header %}
        <div class="header">
            <div class="container">
                <a class="logo" href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a>
                    
                {% block header_navigation %}
                <nav class="main-nav">
                    {% include 'partials/navigation.html.twig' %}
                </nav>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
    
    {% block body %}
        <div class="banner" style="background:url('{{ url('theme://img/banner.jpg') }}')">
        </div>
        <div class="content">
            <div class="container">
            {% block content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    
    <footer class="container">
        <a href="{{ config.themes.basetheme.footer.url }}">{{ config.themes.basetheme.footer.text }}</a>
    </footer>
</body>
</html>
